.Pokecard{
 width: 200px;
 height: 300px;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
 align-items: center;
 padding: 5px;
 margin: 10px;
 box-shadow: 2px 2px 5px rgb(107, 107, 107);
 font-family: Arial, Helvetica, sans-serif;
 background-color: #fdfdfd;
 border-radius: 3px;
}

.Pokecard-img{
  width: 150px;
  height:150px;
}