.Pokedex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: black solid 2px;
    padding: 20px;
    margin: 20px;
}

.Pokedex-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}

.Pokedex-winner{
    color: green;
}

.Pokedex-loser{
    color: red;
}